html,
body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #999999;
}

a {
    text-decoration: none;
}

.title {
    width: 100%;
}

.title_s {
    margin: 32px 0;
    font-size: 0;
}

.front {
    width: 5px;
    height: 28px;
    background: #d06847;
    display: inline-block;
    vertical-align: middle;
}

.ti {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
}

.line {
    font-size: 0;
    margin-bottom: 42px;
}

.box {
    width: 25%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.word {
    margin-top: 5px;
    font-size: 12px;
    color: #333333;
}

.name {
    font-size: 18px;
    margin-top: 12px;
}

.svg {
    width: 60%;
}

.footer {
    height: 100px;
    line-height: 100px;
    width: 100%;
    font-size: 12px;
    color: #999999;
    background: #1a1a1a;
    text-align: center;
}

.link_s {
    width: 18px;
    line-height: 1;
    margin: 11px;
    font-weight: bolder;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    color: #f0e8e9;
}

.qtbox {
    margin: 0 8px 0 15px;
    vertical-align: top;
    display: none;
}

.side:hover .qtbox {
    display: inline-block;
}

.qtcode {
    width: 45px;
    margin-top: 22px;
}

.qtWord {
    font-size: 12px;
}

.side {
    position: fixed;
    top: 48%;
    right: 0;
    height: 100px;
    background-color: rgba(217, 124, 114, 0.7);
    color: #f0e8e9;
}