.Icls-1 {
    fill: #9a531c;
}

.Icls-2 {
    fill: #d16847;
}

.Icls-3 {
    fill: #ffd449;
}

.Icls-4 {
    fill: #f7b737;
}

.Ncls-1 {
    fill: #ffd449;
}

.Ncls-2 {
    fill: #f7b737;
}

.Ncls-3 {
    fill: #fef2d2;
}

.Ncls-4 {
    fill: #f9dc9b;
}

.Ncls-5 {
    fill: #d16847;
}

.Ncls-6 {
    fill: #9a531c;
}

.Hcls-1 {
    fill: #ffd449;
}

.Hcls-2 {
    fill: #f7b737;
}

.Hcls-3 {
    fill: none;
    stroke: #ffd449;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 9px;
}

.Hcls-4 {
    fill: #d16847;
}

.Hcls-5 {
    fill: #9a531c;
}

.Pcls-1 {
    fill: #f7b737;
}

.Pcls-2 {
    fill: #ffd449;
}

.Pcls-3 {
    fill: #f9dc9b;
}

.Pcls-4 {
    fill: #fef2d2;
}

.Pcls-5 {
    fill: #d16847;
}

.Pcls-6 {
    fill: #9a531c;
}

.Ccls-1 {
    fill: #ffd449;
}

.Ccls-2 {
    fill: #f7b737;
}

.Ccls-3 {
    fill: #d16846;
}

.Ccls-4 {
    fill: #9a531c;
}

.Acls-1 {
    fill: #ffd449;
}

.Acls-2 {
    fill: #f7931e;
}

.Acls-3 {
    fill: #fef2d2;
}

.Acls-4 {
    fill: #f7b737;
}

.Acls-5 {
    fill: #f9dc9b;
}

.Acls-6 {
    fill: #d16847;
}

.Acls-7 {
    fill: #9a531c;
}

.Bcls-1,
.Bcls-2 {
    fill: none;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 9px;
}

.Bcls-1 {
    stroke: #ffd449;
}

.Bcls-2 {
    stroke: #f7b737;
}

.Bcls-3 {
    fill: #d16847;
}

.Bcls-4 {
    fill: #9a531c;
}

.Bcls-5 {
    fill: #ffd449;
}

.Bcls-6 {
    fill: #f7b737;
}

.Lcls-1 {
    fill: #ffd449;
}

.Lcls-2 {
    fill: #fef2d2;
}

.Lcls-3 {
    fill: #f7b737;
}

.Lcls-4 {
    fill: #f9dc9b;
}

.Lcls-5 {
    fill: #d16847;
}

.Lcls-6 {
    fill: #9a531c;
}

.Scls-1 {
    fill: #d16847;
}

.Scls-2 {
    fill: #9a531c;
}

.Scls-3 {
    fill: #ffd449;
}

.Scls-4 {
    fill: #f7b737;
}

.Rcls-1 {
    fill: #9a531c;
}

.Rcls-2 {
    fill: #d16847;
}

.Rcls-3 {
    fill: #ffd449;
}

.Rcls-4 {
    fill: #f7b737;
}

.Rcls-5 {
    fill: #fef2d2;
}

.Rcls-6 {
    fill: #f9dc9b;
}

.Wcls-1,
.Wcls-2 {
    fill: none;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 9px;
}

.Wcls-1 {
    stroke: #d16847;
}

.Wcls-2 {
    stroke: #9a531c;
}

.Wcls-3 {
    fill: #d16847;
}

.Wcls-4 {
    fill: #ffd449;
}

.Wcls-5 {
    fill: #fef2d2;
}

.Wcls-6 {
    fill: #9a531c;
}

.Wcls-7 {
    fill: #f7b737;
}

.Wcls-8 {
    fill: #f9dc9b;
}

.Ucls-1 {
    fill: #ffd449;
}

.Ucls-2 {
    fill: #f7b737;
}

.Ucls-3 {
    fill: #d16847;
}

.Ucls-4 {
    fill: #9a531c;
}